body
{
	font-family: sans-serif;
	color : white;
	background-color : black;
	margin-left : 10%;
	margin-right : 10%;
	margin-top : 1em;
}
#wwwouaiebe
{
	font-size:164%;
	border-bottom-style : solid;
	border-bottom-width : 0.1em;
	padding-bottom : 1em;
	padding-left : 1em;
}
#wwwouaiebe > span
{
	color : orange;
}
#wwwouaiebe > span:hover
{
	color : purple;
}
#vent
{
	padding-top : 1em;
	padding-right : 2em;
	text-align : right;
}
#moon
{
	width : 100%;
	max-width : 972px;
	text-align : right;
}
#moon > img
{
	width : 100%;
}
#text a
{
	color : #555555;
}
#text a:hover
{
	color : orange;
}